In [1]:
import pandas as pd

file2 = "DATASET/apr-jun-2018-3rd-qtr-gsa-pc-transactions.xlsx"
file1 = "DATASET/jan-march-2018-gsa-pc-transactions.xlsx"
file3 = "DATASET/jul-sep-2018-gsa-pc-transactions.xlsx"

# Load the first sheet from each Excel file
xls1 = pd.ExcelFile(file1)
xls2 = pd.ExcelFile(file2)
xls3 = pd.ExcelFile(file3)
# Checking sheet names
sheets1 = xls1.sheet_names
sheets2 = xls2.sheet_names
sheets3 = xls3.sheet_names

print(sheets1,sheets2, sheets3)

# Load first sheet from each file
df1 = xls1.parse(sheets1[0])
df2 = xls2.parse(sheets2[0])
df3 = xls3.parse(sheets3[0])

# Display column names and first few rows from each dataset
df1_info = {"columns": df1.columns.tolist()}
df2_info = {"columns": df2.columns.tolist()}
df3_info = {"columns": df3.columns.tolist()}

print(len(df1_info["columns"]))
print(len(df2_info["columns"]))
print(len(df3_info["columns"]))

df1_info, df2_info, df3_info

['Transaction Report - OPEN DATA '] ['APR JUN 2018 3rd Qtr'] ['Sheet1', 'Sheet2', 'Sheet3']
18
20
18

({'columns': ['Program',
   'Region',
   'Hierarchy Level 3 Name',
   'Cardholder First Name',
   'Cardholder Last Name',
   'Merchant Name',
   'Merchant Property Address',
   'Merchant City',
   'Merchant State',
   'Merchant Zip',
   'Merchant Phone',
   'MCC',
   'MCC Description',
   'Transaction Date',
   'Transaction Post Date',
   'Transaction Amount',
   'Transaction Type',
   'Transaction DB-CR Indicator']},
 {'columns': ['Hierarchy Level 1 Name',
   'Hierarchy Level 2 Name',
   'Hierarchy Level 3',
   'Hierarchy Level 3 Name',
   'Account Name (Short)',
   'Cardholder First Name',
   'Cardholder Last Name',
   'Merchant Name',
   'Merchant Property Address',
   'Merchant City',
   'Merchant State',
   'Merchant Zip',
   'Merchant Phone',
   'MCC',
   'MCC Description',
   'Transaction Date',
   'Transaction Post Date',
   'Transaction Amount',
   'Transaction Type',
   'Transaction DB-CR Indicator']},
 {'columns': ['Program',
   'Region',
   'Service/Staff Office',
   'Cardholder First Name',
   'Cardholder Last Name',
   'Merchant Name',
   'Merchant Property Address',
   'Merchant City',
   'Merchant State',
   'Merchant Zip',
   'Merchant Phone',
   'MCC',
   'MCC Description',
   'Transaction Date',
   'Transaction Post Date',
   'Transaction Amount',
   'Transaction Type',
   'Transaction DB-CR Indicator']})

In [2]:
df2_new = df2.rename(columns = {
    'Hierarchy Level 1 Name': 'Program',
    'Hierarchy Level 2 Name': 'Region',
    'Hierarchy Level 3 Name': 'Hierarchy Level 3 Name',
    'Cardholder First Name': 'Cardholder First Name',
    'Cardholder Last Name': 'Cardholder Last Name',
    'Merchant Name': 'Merchant Name',
    'Merchant Property Address': 'Merchant Property Address',
    'Merchant City': 'Merchant City',
    'Merchant State': 'Merchant State',
    'Merchant Zip': 'Merchant Zip',
    'Merchant Phone': 'Merchant Phone',
    'MCC': 'MCC',
    'MCC Description': 'MCC Description',
    'Transaction Date': 'Transaction Date',
    'Transaction Post Date': 'Transaction Post Date',
    'Transaction Amount': 'Transaction Amount',
    'Transaction Type': 'Transaction Type',
    'Transaction DB-CR Indicator': 'Transaction DB-CR Indicator'
})

df2_new = df2_new.drop(['Hierarchy Level 3','Account Name (Short)'], axis = 1)
print(df2_new.columns.tolist())
len(df2_new.columns)

['Program', 'Region', 'Hierarchy Level 3 Name', 'Cardholder First Name', 'Cardholder Last Name', 'Merchant Name', 'Merchant Property Address', 'Merchant City', 'Merchant State', 'Merchant Zip', 'Merchant Phone', 'MCC', 'MCC Description', 'Transaction Date', 'Transaction Post Date', 'Transaction Amount', 'Transaction Type', 'Transaction DB-CR Indicator']

18

In [3]:
df3_new = df3.rename(columns = {
    'Service/Staff Office': 'Hierarchy Level 3 Name'
})

print(df3_new.columns.tolist())
len(df3_new.columns)

['Program', 'Region', 'Hierarchy Level 3 Name', 'Cardholder First Name', 'Cardholder Last Name', 'Merchant Name', 'Merchant Property Address', 'Merchant City', 'Merchant State', 'Merchant Zip', 'Merchant Phone', 'MCC', 'MCC Description', 'Transaction Date', 'Transaction Post Date', 'Transaction Amount', 'Transaction Type', 'Transaction DB-CR Indicator']

18

In [4]:
def standarized_col_names(df):
    df.columns = df.columns.str.strip().str.lower()
    return df
    
df1_standard = standarized_col_names(df1)
df2_standard = standarized_col_names(df2_new)
df3_standard = standarized_col_names(df3_new)

df1_standard.info()
print(df1_standard.isnull().sum())
print(df2_standard.isnull().sum())
print(df3_standard.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8096 entries, 0 to 8095
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   program                      8096 non-null   object
 1   region                       8096 non-null   object
 2   hierarchy level 3 name       8096 non-null   object
 3   cardholder first name        8091 non-null   object
 4   cardholder last name         8096 non-null   object
 5   merchant name                8096 non-null   object
 6   merchant property address    7955 non-null   object
 7   merchant city                8096 non-null   object
 8   merchant state               8068 non-null   object
 9   merchant zip                 8096 non-null   int64
 10  merchant phone               5936 non-null   object
 11  mcc                          8096 non-null   int64
 12  mcc description              8096 non-null   object
 13  transaction date             8096 non-null   datetime64[ns]
 14  transaction post date        8096 non-null   datetime64[ns]
 15  transaction amount           8096 non-null   float64
 16  transaction type             8096 non-null   object
 17  transaction db-cr indicator  8096 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(2), object(13)
memory usage: 1.1+ MB
program                           0
region                            0
hierarchy level 3 name            0
cardholder first name             5
cardholder last name              0
merchant name                     0
merchant property address       141
merchant city                     0
merchant state                   28
merchant zip                      0
merchant phone                 2160
mcc                               0
mcc description                   0
transaction date                  0
transaction post date             0
transaction amount                0
transaction type                  0
transaction db-cr indicator       0
dtype: int64
program                          0
region                           0
hierarchy level 3 name           0
cardholder first name            2
cardholder last name             0
merchant name                    0
merchant property address      135
merchant city                    0
merchant state                  35
merchant zip                     0
merchant phone                 874
mcc                              0
mcc description                  0
transaction date                 0
transaction post date            0
transaction amount               0
transaction type                 0
transaction db-cr indicator      0
dtype: int64
program                           1
region                            1
hierarchy level 3 name            1
cardholder first name             2
cardholder last name              1
merchant name                     1
merchant property address       147
merchant city                     1
merchant state                   21
merchant zip                      1
merchant phone                 1076
mcc                               1
mcc description                   1
transaction date                  1
transaction post date             1
transaction amount                0
transaction type                  1
transaction db-cr indicator       1
dtype: int64

In [5]:
df1_standard.drop(['merchant phone', 'merchant property address'],axis = 1, inplace = True)
df2_standard.drop(['merchant phone', 'merchant property address'],axis = 1, inplace = True)
df3_standard.drop(['merchant phone', 'merchant property address'],axis = 1, inplace = True)
print("First dataframe:\n")
print(df1_standard.isnull().sum())
print("\nSecond dataframe:\n")
print(df2_standard.isnull().sum())
print("\nThirddataframe:\n")
print(df3_standard.isnull().sum())

First dataframe:

program                         0
region                          0
hierarchy level 3 name          0
cardholder first name           5
cardholder last name            0
merchant name                   0
merchant city                   0
merchant state                 28
merchant zip                    0
mcc                             0
mcc description                 0
transaction date                0
transaction post date           0
transaction amount              0
transaction type                0
transaction db-cr indicator     0
dtype: int64

Second dataframe:

program                         0
region                          0
hierarchy level 3 name          0
cardholder first name           2
cardholder last name            0
merchant name                   0
merchant city                   0
merchant state                 35
merchant zip                    0
mcc                             0
mcc description                 0
transaction date                0
transaction post date           0
transaction amount              0
transaction type                0
transaction db-cr indicator     0
dtype: int64

Thirddataframe:

program                         1
region                          1
hierarchy level 3 name          1
cardholder first name           2
cardholder last name            1
merchant name                   1
merchant city                   1
merchant state                 21
merchant zip                    1
mcc                             1
mcc description                 1
transaction date                1
transaction post date           1
transaction amount              0
transaction type                1
transaction db-cr indicator     1
dtype: int64

In [6]:
print(df1_standard.shape)
print(df2_standard.shape)
print(df3_standard.shape)

(8096, 16)
(8707, 16)
(10526, 16)

In [7]:
df1_cleaned = df1_standard.dropna()
print(df1_cleaned.isnull().sum())
df1_cleaned.shape

program                        0
region                         0
hierarchy level 3 name         0
cardholder first name          0
cardholder last name           0
merchant name                  0
merchant city                  0
merchant state                 0
merchant zip                   0
mcc                            0
mcc description                0
transaction date               0
transaction post date          0
transaction amount             0
transaction type               0
transaction db-cr indicator    0
dtype: int64

(8063, 16)

In [8]:
df2_cleaned = df2_standard.dropna()
print(df2_cleaned.isnull().sum())
df2_cleaned.shape

program                        0
region                         0
hierarchy level 3 name         0
cardholder first name          0
cardholder last name           0
merchant name                  0
merchant city                  0
merchant state                 0
merchant zip                   0
mcc                            0
mcc description                0
transaction date               0
transaction post date          0
transaction amount             0
transaction type               0
transaction db-cr indicator    0
dtype: int64

(8670, 16)

In [9]:
df3_cleaned = df3_standard.dropna()
print(df3_cleaned.isnull().sum())
df3_cleaned.shape

program                        0
region                         0
hierarchy level 3 name         0
cardholder first name          0
cardholder last name           0
merchant name                  0
merchant city                  0
merchant state                 0
merchant zip                   0
mcc                            0
mcc description                0
transaction date               0
transaction post date          0
transaction amount             0
transaction type               0
transaction db-cr indicator    0
dtype: int64

(10504, 16)

In [10]:
df1_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8063 entries, 0 to 8095
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   program                      8063 non-null   object
 1   region                       8063 non-null   object
 2   hierarchy level 3 name       8063 non-null   object
 3   cardholder first name        8063 non-null   object
 4   cardholder last name         8063 non-null   object
 5   merchant name                8063 non-null   object
 6   merchant city                8063 non-null   object
 7   merchant state               8063 non-null   object
 8   merchant zip                 8063 non-null   int64
 9   mcc                          8063 non-null   int64
 10  mcc description              8063 non-null   object
 11  transaction date             8063 non-null   datetime64[ns]
 12  transaction post date        8063 non-null   datetime64[ns]
 13  transaction amount           8063 non-null   float64
 14  transaction type             8063 non-null   object
 15  transaction db-cr indicator  8063 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(2), object(11)
memory usage: 1.0+ MB

In [11]:
df2_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8670 entries, 0 to 8706
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   program                      8670 non-null   object
 1   region                       8670 non-null   object
 2   hierarchy level 3 name       8670 non-null   object
 3   cardholder first name        8670 non-null   object
 4   cardholder last name         8670 non-null   object
 5   merchant name                8670 non-null   object
 6   merchant city                8670 non-null   object
 7   merchant state               8670 non-null   object
 8   merchant zip                 8670 non-null   int64
 9   mcc                          8670 non-null   int64
 10  mcc description              8670 non-null   object
 11  transaction date             8670 non-null   datetime64[ns]
 12  transaction post date        8670 non-null   datetime64[ns]
 13  transaction amount           8670 non-null   float64
 14  transaction type             8670 non-null   object
 15  transaction db-cr indicator  8670 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [12]:
df3_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10504 entries, 0 to 10524
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   program                      10504 non-null  object
 1   region                       10504 non-null  object
 2   hierarchy level 3 name       10504 non-null  object
 3   cardholder first name        10504 non-null  object
 4   cardholder last name         10504 non-null  object
 5   merchant name                10504 non-null  object
 6   merchant city                10504 non-null  object
 7   merchant state               10504 non-null  object
 8   merchant zip                 10504 non-null  float64
 9   mcc                          10504 non-null  float64
 10  mcc description              10504 non-null  object
 11  transaction date             10504 non-null  datetime64[ns]
 12  transaction post date        10504 non-null  datetime64[ns]
 13  transaction amount           10504 non-null  float64
 14  transaction type             10504 non-null  object
 15  transaction db-cr indicator  10504 non-null  object
dtypes: datetime64[ns](2), float64(3), object(11)
memory usage: 1.4+ MB

In [18]:
for df in [df1_cleaned, df2_cleaned, df3_cleaned]:
    df.loc[:, 'transaction date'] = df['transaction date'].dt.strftime('%Y-%m-%d')
    df.loc[:, 'transaction post date'] = df['transaction post date'].dt.strftime('%Y-%m-%d')

df1_cleaned.to_csv('DATASET/cleaned_jan.csv', index=False)
df2_cleaned.to_csv('DATASET/cleaned_april.csv', index=False)
df3_cleaned.to_csv('DATASET/cleaned_jul.csv', index=False)

In [22]:
merged_df = pd.concat([df1_cleaned, df2_cleaned, df3_cleaned])
merged_df.shape
merged_df.to_csv('DATASET/merged_data.csv', index = False)

In [23]:
merged_df.isnull().sum()

program                        0
region                         0
hierarchy level 3 name         0
cardholder first name          0
cardholder last name           0
merchant name                  0
merchant city                  0
merchant state                 0
merchant zip                   0
mcc                            0
mcc description                0
transaction date               0
transaction post date          0
transaction amount             0
transaction type               0
transaction db-cr indicator    0
dtype: int64

In [24]:
merged_df.describe()

,merchant zip,mcc,transaction date,transaction post date,transaction amount
count,2.723700e+04,27237.000000,27237,27237,27237.000000
mean,4.708468e+08,5924.270955,2018-05-24 20:49:18.035025664,2018-05-26 12:58:45.850864384,808.986330
min,0.000000e+00,763.000000,2017-11-28 00:00:00,2018-01-02 00:00:00,-20534.940000
25%,2.019000e+08,5021.000000,2018-03-16 00:00:00,2018-03-19 00:00:00,120.000000
50%,3.811600e+08,5943.000000,2018-05-24 00:00:00,2018-05-28 00:00:00,400.000000
75%,7.861300e+08,7399.000000,2018-08-07 00:00:00,2018-08-09 00:00:00,1175.000000
max,9.990100e+08,9402.000000,2018-09-28 00:00:00,2018-09-28 00:00:00,28051.000000
std,3.200342e+08,2174.690041,NaN,NaN,1199.137713